In [ ]:
import pandas as pd
df_social = pd.read_csv("DATA/MSOA-Social Housing.csv")
df_social.head()

,Middle layer Super Output Areas Code,Middle layer Super Output Areas,Tenure of household (9 categories) Code,Tenure of household (9 categories),Observation
0,E02000001,City of London 001,-8,Does not apply,0
1,E02000001,City of London 001,0,Owned: Owns outright,1114
2,E02000001,City of London 001,1,Owned: Owns with a mortgage or loan,680
3,E02000001,City of London 001,2,Shared ownership: Shared ownership,12
4,E02000001,City of London 001,3,Social rented: Rents from council or Local Aut...,449

In [ ]:
# rename
df_social = df_social.rename(columns={
    'Middle layer Super Output Areas Code': 'MSOA',
    'Tenure of household (9 categories)': 'tenure',
    'Observation': 'count'
})

# change to numeric
df_social['count'] = pd.to_numeric(df_social['count'], errors='coerce')

# delete invalid
df_valid = df_social[df_social['tenure'] != 'Does not apply'].copy()

# define social house
df_valid['is_social'] = df_valid['tenure'].str.contains("Social rented", case=False, na=False)

# count total and social
total = df_valid.groupby('MSOA')['count'].sum()
social = df_valid[df_valid['is_social']].groupby('MSOA')['count'].sum()

# calculate percent of social housing
df_social_clean = pd.DataFrame({
    'social_housing_percent': (social / total) * 100
}).reset_index()

In [ ]:
# output
df_social_clean.head()
df_social_clean.to_csv("cleaned/social_housing_cleaned.csv", index=False)

        MSOA  social_housing_percent
0  E02000001               14.855515
1  E02000002               41.777003
2  E02000003               13.282443
3  E02000004               16.154179
4  E02000005               25.137817