In [ ]:
import pandas as pd

df_lone= pd.read_csv("DATA/MSOA-Lone Parent Households.csv")
df_lone.head()

,Middle layer Super Output Areas Code,Middle layer Super Output Areas,Household composition (15 categories) Code,Household composition (15 categories),Observation
0,E02000001,City of London 001,-8,Does not apply,0
1,E02000001,City of London 001,1,One-person household: Aged 66 years and over,494
2,E02000001,City of London 001,2,One-person household: Other,2012
3,E02000001,City of London 001,3,Single family household: All aged 66 years and...,201
4,E02000001,City of London 001,4,Single family household: Married or civil part...,523

In [ ]:
# rename
df_lone = df_lone.rename(columns={
    'Middle layer Super Output Areas Code': 'MSOA',
    'Household composition (15 categories)': 'composition',
    'Observation': 'count'
})

# change to numeric
df_lone['count'] = pd.to_numeric(df_lone['count'], errors='coerce')

# clean invalid 
df_valid = df_lone[df_lone['composition'] != 'Does not apply'].copy()

# add lone parent 
df_valid.loc[:, 'is_lone_parent'] = df_valid['composition'].str.contains("Lone parent", case=False, na=False)

# count total count and lone count
total = df_valid.groupby('MSOA')['count'].sum()
lone = df_valid[df_valid['is_lone_parent']].groupby('MSOA')['count'].sum()

# calculate
df_lone_clean = pd.DataFrame({
    'lone_parent_percent': (lone / total) * 100
}).reset_index()

In [ ]:
# output
df_lone_clean.head()
df_lone_clean.to_csv("cleaned/cleaned_lone.csv", index=False)

        MSOA  lone_parent_percent
0  E02000001             3.559805
1  E02000002            21.699756
2  E02000003            15.873823
3  E02000004            14.032049
4  E02000005            19.547836